src/main/resources/xsd/Dac6XML_v3.00.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	+++++++++++++++++++++++	HISTORY	+++++++++++++++++++++++
		
	Initial version of the XSD for DAC6 (RfA 05-535)		21/12/2018		1.00
	Implementation of RfCs DACSIX-1 to DACSIX-8				13/03/2019		2.00
	Implementation of RfCs DACSIX-11 to DACSIX-17			19/06/2019		2.01
	Implementation of RfCs DACSIX-19 and DACSIX-20			25/06/2019		2.02
	Implementation of DG TAXUD comments						27/06/2019		2.03
	Implementation of RfCs DACSIX-24 and DACSIX-37			08/07/2019		2.04
	Implementation of RfCs DACSIX-40 and DACSIX-42			11/07/2019		2.05
	Implementation of RfCs DACSIX-46 to DACSIX-51			06/08/2019		2.06
	Implementation of RfCs DACSIX-52 and DACSIX-85			06/09/2019		2.07
	Integration of RfC DACSIX-49 in the XSD Guide			10/09/2019		2.08
	Implementation of RfCs DACSIX-135, DACSIX-136, 			N/A				3.00
	DACSIX-143 and DACSIX-145 	
-->
<xsd:schema xmlns:dac6="urn:eu:taxud:dac6:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:iso="urn:eu:taxud:isotypes:v1" targetNamespace="urn:eu:taxud:dac6:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.00">
	<xsd:import namespace="urn:eu:taxud:isotypes:v1" schemaLocation="IsoTypes_v1.01.xsd"/>
	<!-- -->
	<!--+++++++++++++++++++++++  String lenght types ++++++++++++++++++++++++++++++++++++++ -->
	<!-- -->
	<!-- Defines a string with minimum length 1 and maximum length of 10 -->
	<xsd:simpleType name="StringMin1Max10_Type">
		<xsd:annotation>
			<xsd:documentation>Defines a string with minimum length 1 and maximum length of 10</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- Defines a string with minimum length 1 and maximum length of 170 -->
	<xsd:simpleType name="StringMin1Max170_Type">
		<xsd:annotation>
			<xsd:documentation>Defines a string with minimum length 1 and maximum length of 170</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="170"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- Defines a string with minimum length 1 and maximum length of 200 -->
	<xsd:simpleType name="StringMin1Max200_Type">
		<xsd:annotation>
			<xsd:documentation>Defines a string with minimum length 1 and maximum length of 200</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- Defines a string with minimum length 1 and maximum length of 400 -->
	<xsd:simpleType name="StringMin1Max400_Type">
		<xsd:annotation>
			<xsd:documentation>Defines a string with minimum length 1 and maximum length of 400</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="400"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- Defines a string with minimum length 1 and maximum length of 4000 -->
	<xsd:simpleType name="StringMin1Max4000_Type">
		<xsd:annotation>
			<xsd:documentation>Defines a string with minimum length 1 and maximum length of 4000</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!-- Defines a string with minimum length 1 and maximum length of 4000, with the Language attribute -->
	<xsd:complexType name="StringMin1Max4000WithLang_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Defines a string with minimum length 1 and maximum length of 4000, with the Language attribute</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="dac6:StringMin1Max4000_Type">
				<xsd:attribute name="language" type="iso:LanguageCode_Type" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Language used</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- -->
	<!--+++++++++++++++++++++++  Reusable Simple types ++++++++++++++++++++++++++++++++++++++ -->
	<!--  -->
	<!-- Capacity of disclosing Intermediary -->
	<xsd:simpleType name="IntermediaryCapacity_EnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Capacity of Intermediary</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DAC61101">
				<xsd:annotation>
					<xsd:documentation>Designer / Promoter / Implementation (managing/organizing/executing)</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC61102">
				<xsd:annotation>
					<xsd:documentation>Service Provider / Assistant</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!--  -->
	<!-- Capacity of disclosing Relevant Taxpayer -->
	<xsd:simpleType name="TaxpayerCapacity_EnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Capacity of Taxpayer</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DAC61104">
				<xsd:annotation>
					<xsd:documentation>Professional secrecy of intermediary</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC61105">
				<xsd:annotation>
					<xsd:documentation>Intermediary in non-EU country</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC61106">
				<xsd:annotation>
					<xsd:documentation>In-house Arrangement</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!--  -->
	<!-- Reason for disclosure -->
	<xsd:simpleType name="DisclosureReason_EnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Reason for disclosure</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DAC6701">
				<xsd:annotation>
					<xsd:documentation>Arrangement is made available for implementation</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6702">
				<xsd:annotation>
					<xsd:documentation>Arrangement is ready for implementation</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6703">
				<xsd:annotation>
					<xsd:documentation>First step in the implementation of the Arrangement has been made or will be made.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!---->
	<xsd:simpleType name="DisclosureVersion_EnumType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Business Version</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DAC6INI">
				<xsd:annotation>
					<xsd:documentation>Initial version of a Disclosure</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6UPD">
				<xsd:annotation>
					<xsd:documentation>New version of a Disclosure</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6UNCH">
				<xsd:annotation>
					<xsd:documentation>Same version of the Disclosure</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6DEL">
				<xsd:annotation>
					<xsd:documentation>Complete deletion of the Disclosure</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!--DAC6 Hallmark Type-->
	<xsd:simpleType name="HallmarkEnum_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Categories of hallmarks</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DAC6A1">
				<xsd:annotation>
					<xsd:documentation>Hallmark A1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6A2a">
				<xsd:annotation>
					<xsd:documentation>Hallmark A2a</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6A2b">
				<xsd:annotation>
					<xsd:documentation>Hallmark A2b</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6A3">
				<xsd:annotation>
					<xsd:documentation>Hallmark A3</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6B1">
				<xsd:annotation>
					<xsd:documentation>Hallmark B1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6B2">
				<xsd:annotation>
					<xsd:documentation>Hallmark B2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6B3">
				<xsd:annotation>
					<xsd:documentation>Hallmark B3</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6C1a">
				<xsd:annotation>
					<xsd:documentation>Hallmark C1a</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6C1bi">
				<xsd:annotation>
					<xsd:documentation>Hallmark C1bi</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6C1bii">
				<xsd:annotation>
					<xsd:documentation>Hallmark C1bii</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6C1c">
				<xsd:annotation>
					<xsd:documentation>Hallmark C1c</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6C1d">
				<xsd:annotation>
					<xsd:documentation>Hallmark C1d</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6C2">
				<xsd:annotation>
					<xsd:documentation>Hallmark C2</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6C3">
				<xsd:annotation>
					<xsd:documentation>Hallmark C3</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6C4">
				<xsd:annotation>
					<xsd:documentation>Hallmark C4</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6D1Other">
				<xsd:annotation>
					<xsd:documentation>Hallmark D1 - Other</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6D1a">
				<xsd:annotation>
					<xsd:documentation>Hallmark D1a</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6D1b">
				<xsd:annotation>
					<xsd:documentation>Hallmark D1b</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6D1c">
				<xsd:annotation>
					<xsd:documentation>Hallmark D1c</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6D1d">
				<xsd:annotation>
					<xsd:documentation>Hallmark D1d</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6D1e">
				<xsd:annotation>
					<xsd:documentation>Hallmark D1e</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6D1f">
				<xsd:annotation>
					<xsd:documentation>Hallmark D1f</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6D2">
				<xsd:annotation>
					<xsd:documentation>Hallmark D2a, D2b and D2c</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6E1">
				<xsd:annotation>
					<xsd:documentation>Hallmark E1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6E2">
				<xsd:annotation>
					<xsd:documentation>Hallmark E2a and E2b</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DAC6E3">
				<xsd:annotation>
					<xsd:documentation>Hallmark E3</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!--Nexus of the Relevant Taxpayer-->
	<xsd:simpleType name="RelevantTaxpayerNexus_EnumType">
		<xsd:annotation>
			<xsd:documentation>Categories of Nexus of Taxpayer</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="RTNEXa">
				<xsd:annotation>
					<xsd:documentation>The Member State where the relevant taxpayer is resident for tax purposes</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RTNEXb">
				<xsd:annotation>
					<xsd:documentation>The Member State where the relevant taxpayer has a permanent establishment benefiting from the arrangement</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RTNEXc">
				<xsd:annotation>
					<xsd:documentation>The Member State where the relevant taxpayer receives income or generates profits, although the relevant taxpayer is not resident for tax purposes and has no permanent establishment in any Member State.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RTNEXd">
				<xsd:annotation>
					<xsd:documentation>The Member State where the relevant taxpayer carries on an activity, although the relevant taxpayer is not resident for tax purposes and has no permanent establishment in any Member State</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!---->
	<!--Nexus of the Intermediary-->
	<xsd:simpleType name="IntermediaryNexus_EnumType">
		<xsd:annotation>
			<xsd:documentation>Categories of Nexus of Intermediary</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="INEXa">
				<xsd:annotation>
					<xsd:documentation>The Member State where the intermediary is resident for tax purposes</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="INEXb">
				<xsd:annotation>
					<xsd:documentation>The Member State where the intermediary has a permanent establishment through which the services with respect to the arrangement are provided</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="INEXc">
				<xsd:annotation>
					<xsd:documentation>The Member State where the intermediary is incorporated in or governed by the laws of</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="INEXd">
				<xsd:annotation>
					<xsd:documentation>The Member State where the intermediary is registered with a professional association related to legal, taxation or consultancy services</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!---->
	<!-- Percentage (between 0 and 100) -->
	<xsd:simpleType name="Percentage_Type">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- -->
	<!--++++++++++++++++++ Reusable Complex types +++++++++++++++++++++++++++++++++++++ -->
	<!---->
	<!--Adress-->
	<xsd:complexType name="Address_Type">
		<xsd:sequence>
			<xsd:element name="Street" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BuildingIdentifier" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SuiteIdentifier" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FloorIdentifier" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DistrictName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="POB" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PostCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="City" type="xsd:string"/>
			<xsd:element name="Country" type="iso:CountryCode_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!--Capacity of the Discloser-->
	<xsd:complexType name="Liability_Type">
		<xsd:choice>
			<xsd:element name="IntermediaryDiscloser">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="IntermediaryNexus" type="dac6:IntermediaryNexus_EnumType" minOccurs="0"/>
						<xsd:element name="Capacity" type="dac6:IntermediaryCapacity_EnumType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RelevantTaxpayerDiscloser">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="RelevantTaxpayerNexus" type="dac6:RelevantTaxpayerNexus_EnumType" minOccurs="0"/>
						<xsd:element name="Capacity" type="dac6:TaxpayerCapacity_EnumType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<!---->
	<!--Disclosing Person / Entity -->
	<xsd:complexType name="Discloser">
		<xsd:complexContent>
			<xsd:extension base="dac6:Disclosing_Type"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- -->
	<!-- Relevant Tax Payer -->
	<xsd:complexType name="TaxPayer_Type">
		<xsd:sequence>
			<xsd:element name="ID" type="dac6:PersonOrOrganisation_Type"/>
			<xsd:element name="TaxpayerImplementingDate" type="xsd:date" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AssociatedEnterprises" type="dac6:AssociatedEnterprises_Type" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!---->
	<!--Associated Enterprise-->
	<xsd:complexType name="AssociatedEnterprises_Type">
		<xsd:sequence>
			<xsd:element name="AssociatedEnterprise" type="dac6:AssociatedEnterprise_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AssociatedEnterprise_Type">
		<xsd:sequence>
			<xsd:element name="AssociatedEnterpriseID" type="dac6:PersonOrOrganisation_Type"/>
			<xsd:element name="AffectedPerson" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<!---->
	<!--Other Affected Person-->
	<xsd:complexType name="AffectedPerson_Type">
		<xsd:sequence>
			<xsd:element name="AffectedPersonID" type="dac6:PersonOrOrganisation_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- Organisation name -->
	<xsd:complexType name="NameOrganisation_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Name of organisation</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="dac6:StringMin1Max200_Type">
				<xsd:attribute name="language" type="iso:LanguageCode_Type" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Language used</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- -->
	<!-- General Type for Monetary values -->
	<xsd:complexType name="Amount_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
This data type is to be used whenever monetary amounts are to be communicated. Such amounts shall be given
in full units, i.e. without decimals. The code for the currency in which the value is expressed has to be
taken from the ISO codelist 4217 and added in attribute currCode.
</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:integer">
				<xsd:attribute name="currCode" type="iso:currCode_Type" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--  -->
	<!-- TIN -->
	<xsd:complexType name="TIN_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">This is the identification number/identification code for the party in question. As the identifier may be not strictly numeric, it is just defined as a string of characters. Attribute 'issuedBy' is required to designate the issuer of the identifier. </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="dac6:StringMin1Max200_Type">
				<xsd:attribute name="issuedBy" type="iso:CountryCode_Type" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Country code of issuing country, indicating country of Residence (to taxes and other)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--  -->
	<!-- Intermediaries -->
	<xsd:complexType name="Intermediary_Type">
		<xsd:sequence>
			<xsd:element name="ID" type="dac6:PersonOrOrganisation_Type"/>
			<xsd:element name="Capacity" type="dac6:IntermediaryCapacity_EnumType" minOccurs="0"/>
			<xsd:element name="NationalExemption" type="dac6:NationalExemption_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!---->
	<!--National Exemption-->
	<xsd:complexType name="NationalExemption_Type">
		<xsd:sequence>
			<xsd:element name="Exemption" type="xsd:boolean"/>
			<xsd:element name="CountryExemptions" type="dac6:CountryExemptions_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<xsd:complexType name="CountryExemptions_Type">
		<xsd:sequence>
			<xsd:element name="CountryExemption" type="iso:CountryCode_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- Message specification: Data identifying and describing the message as a whole -->
	<xsd:complexType name="Header_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Information in the message header identifies the Member State that is sending the message.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TransmittingCountry" type="iso:CountryCode_Type"/>
			<xsd:element name="ReceivingCountries" type="iso:CountryCode_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="MessageRefId" type="dac6:StringMin1Max200_Type"/>
			<xsd:element name="Timestamp" type="xsd:dateTime"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- Collection of all Data describing an organisationy  as stakeholder-->
	<xsd:complexType name="Organisation_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OrganisationName" type="dac6:NameOrganisation_Type" maxOccurs="unbounded"/>
			<xsd:element name="TIN" type="dac6:TIN_Type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Tax Identification Number</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Address" type="dac6:Address_Type" minOccurs="0"/>
			<xsd:element name="EmailAddress" type="dac6:StringMin1Max400_Type" minOccurs="0"/>
			<xsd:element name="ResCountryCode" type="iso:CountryCode_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!--Summary-->
	<xsd:complexType name="Summary_Type">
		<xsd:sequence>
			<xsd:element name="Disclosure_Name" type="dac6:StringMin1Max400_Type"/>
			<xsd:element name="Disclosure_Description" type="dac6:StringMin1Max4000WithLang_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- Collection of all Data describing a person as a  stakeholder-->
	<xsd:complexType name="Person_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
This container brings together all data about a person as a stakeholder. Name and country of residency are required components and each can
be present more than once to enable as complete a description as possible. Whenever possible one or more identifiers (TIN) should be added. Additional data that describes and identifies the party must be
given, as Birth date and Birth place.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IndividualName" type="dac6:NamePerson_Type"/>
			<xsd:element name="BirthDate" type="xsd:date"/>
			<xsd:element name="BirthPlace" type="dac6:StringMin1Max200_Type"/>
			<xsd:element name="TIN" type="dac6:TIN_Type" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Tax Identification Number</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Address" type="dac6:Address_Type" minOccurs="0"/>
			<xsd:element name="EmailAddress" type="dac6:StringMin1Max400_Type" minOccurs="0"/>
			<xsd:element name="ResCountryCode" type="iso:CountryCode_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- The Name of a Party, given in fixed Form -->
	<xsd:complexType name="NamePerson_Type">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The user must spread the data about the name of a party over up to six elements. The container element for this will be 'NameFix'. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PrecedingTitle" type="dac6:StringMin1Max200_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">His Excellency,Estate of the Late ...</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Title" type="dac6:StringMin1Max200_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Greeting title. Example: Mr, Dr, Ms, Herr, etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FirstName" type="dac6:StringMin1Max200_Type">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">FirstName of the person</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MiddleName" type="dac6:StringMin1Max200_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Middle name (essential part of the name for many nationalities). Example: Sakthi in "Nivetha Sakthi Shantha".</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NamePrefix" type="dac6:StringMin1Max200_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">de, van, van de, von, etc. Example: Derick de Clarke</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LastName" type="dac6:StringMin1Max200_Type">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Represents the position of the name in a name string. Can be Given Name, Forename, Christian Name, Surname, Family Name, etc. Use the attribute "NameType" to define what type this name is.
In case of a company, this field can be used for the company name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GenerationIdentifier" type="dac6:StringMin1Max200_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Jnr, Thr Third, III</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Suffix" type="dac6:StringMin1Max200_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Could be compressed initials - PhD, VC, QC</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GeneralSuffix" type="dac6:StringMin1Max200_Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Deceased, Retired ...</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!---->
	<!-- Person or Organisation -->
	<xsd:complexType name="PersonOrOrganisation_Type">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="Individual" type="dac6:Person_Type"/>
				<xsd:element name="Organisation" type="dac6:Organisation_Type"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<!---->
	<!-- List of hallmarks of a Disclosure -->
	<xsd:complexType name="ListHallmarks_Type">
		<xsd:sequence>
			<xsd:element name="Hallmark" type="dac6:HallmarkEnum_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Top level types  ++++++++++++++++++++++++++++++++++++++++++++ -->
	<!---->
	<!-- Disclosing Person / Entity -->
	<xsd:complexType name="Disclosing_Type">
		<xsd:sequence>
			<xsd:element name="ID" type="dac6:PersonOrOrganisation_Type"/>
			<xsd:element name="Liability" type="dac6:Liability_Type" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!--Reportable Tax Payer -->
	<xsd:complexType name="TaxPayer">
		<xsd:complexContent>
			<xsd:extension base="dac6:TaxPayer_Type"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!---->
	<!--Intermediaries -->
	<xsd:complexType name="Intermediary">
		<xsd:complexContent>
			<xsd:extension base="dac6:Intermediary_Type"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- -->
	<!-- Information within the knowledge of a taxpayer or intermediary -->
	<xsd:complexType name="DisclosureInformation_Type">
		<xsd:sequence>
			<xsd:element name="ImplementingDate" type="xsd:date"/>
			<xsd:element name="Reason" type="dac6:DisclosureReason_EnumType" minOccurs="0"/>
			<xsd:element name="Summary" type="dac6:Summary_Type"/>
			<xsd:element name="NationalProvision" type="dac6:StringMin1Max4000WithLang_Type" maxOccurs="unbounded"/>
			<xsd:element name="Amount" type="dac6:Amount_Type"/>
			<xsd:element name="ArrangementChart" type="dac6:ArrangementChart_Type" minOccurs="0"/>
			<xsd:element name="ConcernedMSs" type="dac6:ConcernedMSs_Type"/>
			<xsd:element name="MainBenefitTest1" type="xsd:boolean" default="false"/>
			<xsd:element name="Hallmarks" type="dac6:Hallmarks_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- Hallmarks type - Defining the hallmarks of the disclosure and containing the additional information to be provided if DAC6D1Other is selected. -->
	<xsd:complexType name="Hallmarks_Type">
		<xsd:sequence>
			<xsd:element name="ListHallmarks" type="dac6:ListHallmarks_Type"/>
			<xsd:element name="DAC6D1OtherInfo" type="dac6:StringMin1Max4000WithLang_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!-- Reportable Tax Payer Chart -->
	<xsd:complexType name="ArrangementChart_Type">
		<xsd:sequence>
			<xsd:element name="ID" type="dac6:PersonOrOrganisation_Type"/>
			<xsd:element name="Ownership" type="dac6:Percentage_Type" minOccurs="0"/>
			<xsd:element name="InvestAmount" type="dac6:Amount_Type" minOccurs="0"/>
			<xsd:element name="OtherInfo" type="dac6:StringMin1Max4000WithLang_Type" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ListChilds" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ChildRTP" type="dac6:ArrangementChart_Type" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- -->
	<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Body type  ++++++++++++++++++++++++++++++++++++++++++++ -->
	<!-- DAC6 Body Type  -->
	<xsd:complexType name="DAC6Disclosure_Type">
		<xsd:sequence>
			<xsd:element name="DisclosureID">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="17"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="DisclosureVersion" type="dac6:DisclosureVersion_EnumType"/>
			<xsd:element name="Language" type="iso:LanguageCode_Type" minOccurs="0"/>
			<xsd:element name="Disclosing" type="dac6:Discloser"/>
			<xsd:element name="InitialDisclosureMA" type="xsd:boolean" default="false"/>
			<xsd:element name="RelevantTaxPayers" type="dac6:RelevantTaxpayers_Type" minOccurs="0"/>
			<xsd:element name="Intermediaries" type="dac6:Intermediaries_Type" minOccurs="0"/>
			<xsd:element name="AffectedPersons" type="dac6:AffectedPersons_Type" minOccurs="0"/>
			<xsd:element name="DisclosureInformation" type="dac6:DisclosureInformation_Type" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="GDPRUpdated" type="xsd:boolean" use="optional">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">Information about the update of Disclosure to comply with GDPR (true) or not (false or not provided).</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<!--  -->
	<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Schema top element ++++++++++++++++++++++++++++++++++++++++++++ -->
	<!-- DAC6 disclosure structure  -->
	<xsd:element name="DAC6_Arrangement">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="dac6:Header_Type"/>
				<xsd:element name="VersionTimestamp" type="xsd:dateTime" minOccurs="0"/>
				<xsd:element name="ArrangementID">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:length value="17"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="DAC6Disclosures" type="dac6:DAC6Disclosure_Type" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">dac6 Version</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<!---->
	<xsd:complexType name="Intermediaries_Type">
		<xsd:sequence>
			<xsd:element name="Intermediary" type="dac6:Intermediary" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AffectedPersons_Type">
		<xsd:sequence>
			<xsd:element name="AffectedPerson" type="dac6:AffectedPerson_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConcernedMSs_Type">
		<xsd:sequence>
			<xsd:element name="ConcernedMS" type="iso:MSCountryCode_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RelevantTaxpayers_Type">
		<xsd:sequence>
			<xsd:element name="RelevantTaxpayer" type="dac6:TaxPayer_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
